{% extends 'base.html' %}

{% block content %}
    <div class="cotainer">
        <div class="row">
            <h1>{{ restaurant.name }}</h1>
        </div>
        <hr>
        <div class="row">
            <div class="col">
                <p>Address</p>
            </div>
            <div class="col">
                <p>{{ restaurant.neighborhood }}</p>
                <p><a href="https://www.google.com/maps/place/{{ restaurant.address.building }}+{{ restaurant.address.street }}+, {{ restaurant.borough }}">{{ restaurant.string_address }}</a></p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Borough</p>
            </div>
            <div class="col">
                <p>{{ restaurant.borough }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Cuisine</p>
            </div>
            <div class="col">
                <p>{{ restaurant.cuisine }}</p>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <p>Sanitary inspection grade</p>
            </div>
            <div class="col">
                <p><a href="{% url 'grades' restaurant.restaurant_id %}">{{ restaurant.grade }}</a></p>
            </div>
        </div>
    </div>
{% endblock %}