{% extends 'base.html' %}

{% block content %}
    <form method = "GET">
    <div class="container">
        <div class="row">
                <div class="col-md-2">
                    <p>Name</p>
                    <p class="form-field"> {{ form.name }}</p>
                </div>
                <div class="col-md-2">
                    <p>Address</p>
                    <p class="form-field">{{ form.address_field }}</p>
                </div>
                <div class="col-md-2">
                    <p>Borough</p>
                    <p class="form-field">{{ form.boroughs_field }}</p>
                </div>
                <div class="col-md-2">
                    <p>Cuisine</p>
                    <p class="form-field">{{ form.cuisine_field }}</p>
                </div>
                <div class="col-md-2">
                    <p>Sanitary inspection grade</p>
                    <p class="form-field">{{ form.grade_field }}</p>
                </div>
                <div class="col-md-2">
                    <input type = "submit" value = "Submit">
                </div>
        </div>
    <hr>
    {% if restaurants %}
    {% for restaurant in restaurants %}
        <div class="row">
            <div class="col">
                <p><a href="{% url 'details' restaurant.restaurant_id %}">{{ restaurant.name }}</a></p>
            </div>
            <div class="col">
                <p><a href="https://www.google.com/maps/place/{{ restaurant.address.building }}+{{ restaurant.address.street }}+, {{ restaurant.borough }}">{{ restaurant.string_address }}</a></p>
            </div>
            <div class="col">
                <p>{{ restaurant.borough }}</p>
            </div>
            <div class="col">
                <p>{{ restaurant.cuisine }}</p>
            </div>
            <div class="col">
                <p><a href="{% url 'grades' restaurant.restaurant_id %}">{{ restaurant.grade }}</a></p>
            </div>
            <div class="col">
                <p>Edit</p>
                <p>Delete</p>
            </div>
        </div>
    {% endfor %}
    {% else %}
        <p>No restaurants available</p>
    {% endif %}
    </div>
    </form>
{% endblock %}